@media screen and (max-width: 1200px) {
    .container {
		width: 1140px;

        /* background-color: red; */
	}
}

@media screen and (max-width: 1199px) {
    .container {
		width: 960px;
	
        /* background-color: green; */
    }
}

@media screen and (max-width: 991px) {
    .container {
		width: 720px;

        /* background-color: purple; */
	}
    .nav__btn {
        padding-right: 0;
    }
    .card {
        grid-template-columns: repeat(4, auto);
    }
    .card__item {
        width: 130px;
        height: 210px;
    }
}

@media screen and (max-width: 767px) {
    .container {
		width: 540px;

        /* background-color: orange; */
	}

    .card {
        position: static;

        transform: none;

        grid-template-columns: repeat(3, auto);
    }
    .card__item {
        width: 120px;
        height: 190px;
    }
}

@media screen and (max-width: 575px) {
    .container {
		padding: 0 10px;
		width: 90%;

        /* background-color: pink; */
	}

    .card__item {
        width: 70px;
        height: 120px;
    }
}